@CHARSET "UTF-8";

h1 { font: 24px Arial, sans-serif; }
h2 { font: bold 22px Arial, sans-serif; }
table { border-spacing: 4px; width: 850px; }
tr:not(:first-child) { height: 70px; }
th { font: bold 18px Arial, sans-serif; }
td { vertical-align: top; }
td:not(:first-child) { width: 140px; position: relative; padding: 0px 5px; border: 1px dotted gray; }
td:first-child { text-align:right; }
td.event { border: 1px solid black; background-color: #eee; border-radius: 5px; }
div.event { padding: 0 0 5px 0; }
button { position: relative; float:right; }

.subject { font: bold 14px Arial, sans-serif; }
.course, .instructor { font: 12px Arial, sans-serif; }
.room { display:none; }
.rooms { font: 12px Arial, sans-serif; position: absolute; bottom: 5px; right: 5px; }

@media print {
    .calendar { page-break-inside: avoid; }
    .person-calendar { page-break-inside: avoid; }
    button { display: none !important; }
}
