body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

#loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

td.fc-axis {
    height: 35px !important;
}

.fc {
    margin-bottom: 10px;
}

.fc-title {
    font-weight: bold;
    font-size: 1.1em;
}

.fc-instructor, .fc-course {
    font-size: .9em;
    padding: 0 5px;
}

.fc-location {
    position: absolute;
    bottom: 3px; right: 3px;
}

.fc-content .fc-time { display:none; }

.fc-event { padding: 0 3px; }

.ev-src-0, .ev-src-1, .ev-src-2, .ev-src-3, .ev-src-4, .ev-src-5, .ev-src-6 {
    color: black;
    border-color: gray;
}

.ev-src-0 { background-color: #ffb3ba; }
.ev-src-1 { background-color: #ffdfba; }
.ev-src-2 { background-color: #ffffba; }
.ev-src-3 { background-color: #baffc9; }
.ev-src-4 { background-color: #bae1ff; }
.ev-src-5 { background-color: #f1cbff; }
.ev-src-6 { background-color: #ffffff; }

.ev-src-0:hover { background-color: #efa3aa; }
.ev-src-1:hover { background-color: #efcfaa; }
.ev-src-2:hover { background-color: #efefaa; }
.ev-src-3:hover { background-color: #aaefb9; }
.ev-src-4:hover { background-color: #aad1ef; }
.ev-src-5:hover { background-color: #e1bbef; }
.ev-src-6:hover { background-color: #efefef; }
